/* .plotpoint-list {
    float: right;
    align-items: center;
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .plotpoint-box {
    
    padding: 1px 2px;
    border-bottom: solid 20px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: move;
    background: rgb(244, 242, 242);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } */

  body {
    background-color: rgba(127, 255, 212, 0.024);
    height: 3000px;
    background-image: url('https://www.etoffe.com/307776-thickbox_default/menagerie-toile-wallpaper-rifle-paper-co.jpg');
  }

  .card-body {
    position: relative;
    border-radius: 40px;
    width:100%;
    height:700px;
    border:15px solid transparent; 
    outline:2px hidden #000; 
    outline-offset:-10px; 
    background:
      linear-gradient(#000 0 0) top,
      linear-gradient(#000 0 0) left,
      linear-gradient(#000 0 0) bottom,
      linear-gradient(#000 0 0) right;
    background-size:200% 2px,2px 200%; 
    background-origin:padding-box;
    background-repeat:no-repeat;
    float: left;
    background-color: rgba(60, 113, 113, 0.908);
    display: table;

  }

  .card-title {
    margin-top: 50px;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(193, 210, 246);
    border:15px solid transparent; 
    outline:2px solid #000000; 
    outline-offset:-10px; 
    background-color: rgb(60, 113, 113);
    background:
      linear-gradient(#000 0 0) top,
      linear-gradient(#000 0 0) left,
      linear-gradient(#000 0 0) bottom,
      linear-gradient(#000 0 0) right;
    background-size:200% 2px,2px 200%; 
    background-origin:padding-box;
    background-repeat:no-repeat;
    flex-direction: column;
  } 

.wrapper {
  float: right;
  padding: 0px;
  max-width: 500px;
}

.img {
  float: right;
  height: 25px;
  width: 25px;
  border-radius: 3px;
}

.block-wrapper  {
  float: left;
  margin: 40px;
  width: 20%;
  box-shadow: 0 30px 30px rgba(48, 46, 81, 0.945);
  display: table;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(142, 171, 228);
  background-color: rgb(40, 40, 96);
  border-radius: 10px;
  font-size: 20px;
  color: rgba(142, 171, 228);
  border:15px solid transparent; 
  outline:4px groove #d39d1473; 
  outline-offset:-10px; 
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;
}
.form-wrapper {
  float: inline-end;
  margin: 40px;
  width: 20%;
  box-shadow: 0 30px 30px rgba(48, 46, 81, 0.945);
  display: table;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(142, 171, 228);
  background-color: rgb(40, 40, 96);
  border-radius: 10px;
  font-size: 20px;
  color: rgba(142, 171, 228);
  border:15px solid transparent; 
  outline:4px groove #d39d1473; 
  outline-offset:-10px; 
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;
}

.table{
  
  float: right;
  margin: 40px;
  width: 90%;
  box-shadow: 0 30px 30px rgba(48, 46, 81, 0.945);
  display: table;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(142, 171, 228);
  background-color: rgb(40, 40, 96);
  border-radius: 10px;
  font-size: 20px;
  color: rgba(142, 171, 228);
  border:15px solid transparent; 
  outline:4px groove #d39d1473; 
  outline-offset:-10px; 
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;
  
}


.row {
  display: table-row;
  background: #2559839c;
  outline: 0.5px solid #000000;
  
}

.row.header {
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: 900;
  background: #2559839c;
 
}

.tcell, .scell {
  padding: 6px 12px;
  display: table-cell;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(190, 206, 240);
  background-color: rgba(19, 19, 56, 0.473);
  border-radius: 10px;
  font-size: 30px;
  border:15px solid transparent; 
  outline:2px solid #000; 
  outline-offset:-10px; 
  background:
    linear-gradient(#000 0 0) top,
    linear-gradient(#d39e14 0 0) left,
    linear-gradient(#d39e14 0 0) bottom,
    linear-gradient(#000 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;

}
li {
  color: rgba(142, 171, 228);
  border:15px solid transparent; 
  border-radius: 10px;
  outline:3px groove #d39d1473; 
  outline-offset:-10px; 
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;

}
.cell, .btn{
  padding: 6px 12px;
  display: table-cell;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(189, 207, 240);
  background-color: rgba(19, 19, 56, 0.445);
  border-radius: 10px;
  font-size: 20px;
  border:15px solid transparent; 
  outline:2px solid #000000; 
  outline-offset:-10px; 
  background:
    linear-gradient(#000 0 0) top,
    linear-gradient(#d39e14 0 0) left,
    linear-gradient(#000 0 0) bottom,
    linear-gradient(#000 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;
}

.btn:hover {
  color:rgb(214, 214, 238);
  background-color: rgba(0, 0, 0, 0.308);
}

.wrap {
  margin-top: 40px;
	perspective: 800px;
	perspective-origin: 50% 100px;
  display: flex;
  justify-content: center;
  
}

.cube {
	position: relative;
	width: 275px;
	transform-style: preserve-3d;
  
}

.cube:hover {
  	cursor:pointer;
}


.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
  margin: 10px;
  display:inline-block;
  border:15px solid transparent; 
  outline:4px solid #261f62; 
  outline-offset:-10px; 
  background:
    linear-gradient(#d39e14 0 0) top,
    linear-gradient(#d39e14 0 0) left,
    linear-gradient(#d39e14 0 0) bottom,
    linear-gradient(#d39e14 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
}


.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
  color: white;
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}


.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
  color: white;
  background-color: #7c331d6e;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
  color: white;
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
  color: white;
  background-color: #110c0ccc;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;

}
.front {
	transform: translateZ(100px);
  color: rgb(34, 29, 48);
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #11022b;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: right;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
  color: rgb(194, 203, 244);
  background-color: #0000007d;
  border-radius: 10px;
  border-color: #000;
  font-size: 24px;
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 10s infinite linear;
}




  
