<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <body class = "body">
        <div class="container">
         
          
          <div class="card-body">

            <div class="wrap">

              <div class="cube">

                <div class="front text-center" style="background-color:#6d73e893;">Writer's Cube</div>

                <div class="back text-center" style="background-color:#6d73e8a9;">Add a new dimension to writer's block</div>
                
                <div class="top" style="background-color:#6d73e86e; "></div>

            <div class="bottom" style="background-color:#6d73e86e;"></div>
            
            <div class="left" style="background-color:#6d73e86e;"><img src = 'https://www.etoffe.com/307776-thickbox_default/menagerie-toile-wallpaper-rifle-paper-co.jpg' style = "height: 100%; width: 100%; opacity: 0.2"></div>
                
            <div class="right" style="background-color:#6d73e86e;"><img src = 'https://www.etoffe.com/307776-thickbox_default/menagerie-toile-wallpaper-rifle-paper-co.jpg' style = "height: 100%; width: 100%; opacity: 0.2"></div>
          </div>
        </div>
            <ul class="text-center list-inline py-3">
              <div class="list">
                <a routerLink="/createstoryboard" class="btn">Create New Story Board</a>
              </div>
              <div class="list">
                <a routerLink="/viewstoryboards" class="btn">View My Story Boards</a>
              </div>
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
        </body>



