 body {
    background-color: rgba(127, 255, 212, 0.024);
    height: 3000px;
    background-image: url('https://www.etoffe.com/307776-thickbox_default/menagerie-toile-wallpaper-rifle-paper-co.jpg');
  }

  .card-body {
    position: relative;
    border-radius: 40px;
    width:100%;
    height:700px;
    border:15px solid transparent; 
    outline:2px solid #000; 
    outline-offset:-10px; 
    background:
      linear-gradient(#000 0 0) top,
      linear-gradient(#000 0 0) left,
      linear-gradient(#000 0 0) bottom,
      linear-gradient(#000 0 0) right;
    background-size:200% 2px,2px 200%; 
    background-origin:padding-box;
    background-repeat:no-repeat;
    float: left;
    background-color: rgba(60, 113, 113, 0.908);
    flex-direction: column;

  }

  .card-title {
    margin-left: 300px;
    margin-top: 50px;
    font-size: 35px;
    width: 400px;
    border-radius: 7px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(193, 210, 246);
    border:15px solid transparent; 
    outline:2px solid #082a25; 
    outline-offset:-10px; 
    background-color: rgba(31, 57, 57, 0.202);
    background-size:200% 2px,2px 200%; 
    background-origin:padding-box;
    background-repeat:no-repeat;
    flex-direction: column;
  } 

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  float: right;
}

.table {
  
  float: left;
  margin: 40px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(48, 46, 81, 0.757);
  display: table;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(142, 171, 228);
  background-color: rgba(19, 19, 56, 0);
  border-radius: 30px;
  font-size: 20px;
  color: rgba(142, 171, 228);
  border:15px solid transparent; 
  outline:2px solid #d39d1473; 
}


.row {
  padding: 2px 2px;
  display: table-row;
  background: #2559839c;  
}

.row.header {
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: 900;
  background: #2559839c;
 
}

.tcell, .scell {
  padding: 6px 12px;
  display: table-cell;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(190, 206, 240);
  background-color: rgba(19, 19, 56, 0.473);
  font-size: 30px;
  border:15px groove transparent; 
  outline-offset:-10px; 
  background:
    linear-gradient(#00000000 0 0) top,
    linear-gradient(#d39d1494 0 0) left,
    linear-gradient(#d39d1494 0 0) bottom,
    linear-gradient(#00000000 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;

}

.cell {
  padding: 6px 6px;
  display: table-cell;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(189, 207, 240);
  background-color: rgba(19, 19, 56, 0.445);
  font-size: 20px;
  border:15px groove transparent; 
  outline:2px groove #00000000; 
  outline-offset:-10px; 
  background:
    linear-gradient(#00000000 0 0) top,
    linear-gradient(#d39d1494 0 0) left,
    linear-gradient(#d39d1494 0 0) bottom,
    linear-gradient(#00000000 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;
}
.btn {
  padding: 2px 6px;
  display: table-cell;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(189, 207, 240);
  background-color: rgba(19, 19, 56, 0.445);
  font-size: 20px;
  border:15px groove transparent; 
  outline:2px groove #00000000; 
  outline-offset:-10px; 
  background:
    linear-gradient(#00000000 0 0) top,
    linear-gradient(#d39d1494 0 0) left,
    linear-gradient(#d39d1494 0 0) bottom,
    linear-gradient(#00000000 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
  flex-direction: column;
}

.btn:hover {
  color:rgb(214, 214, 238);
  background-color: rgba(0, 0, 0, 0.308);
}

.wrap {
  
	perspective: 800px;
	perspective-origin: 50% 100px;
  display: flex;
  justify-content: center;
  float: left;
  
}

.cube {
	position: relative;
	width: 275px;
	transform-style: preserve-3d;
  
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
  margin: 10px;
  display:inline-block;
  border:15px solid transparent; 
  outline:4px solid #261f62; 
  outline-offset:-10px; 
  background:
    linear-gradient(#d39e14 0 0) top,
    linear-gradient(#d39e14 0 0) left,
    linear-gradient(#d39e14 0 0) bottom,
    linear-gradient(#d39e14 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
}


.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
  color: white;
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
  color: white;
  background-color: #7c331d6e;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
  color: white;
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
  color: white;
  background-color: #110c0ccc;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;

}
.front {
	transform: translateZ(100px);
  color: rgb(34, 29, 48);
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #11022b;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: right;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
  color: rgb(194, 203, 244);
  background-color: #0000007d;
  border-radius: 10px;
  border-color: #000;
  font-size: 27px;
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 25s infinite linear;
}

.wrap1 {
  margin-bottom: 40px;
	perspective: 800px;
	perspective-origin: 50% 100px;
  display: flex;
  justify-content: center;
  float: right;
  
}

.cube1 {
	position: relative;
	width: 275px;
	transform-style: preserve-3d;
  
}

.cube1 div {
	position: absolute;
	width: 100px;
	height: 100px;
  margin: 10px;
  display:inline-block;
  border:15px solid transparent; 
  outline:4px solid #261f62; 
  outline-offset:-10px; 
  background:
    linear-gradient(#d39e14 0 0) top,
    linear-gradient(#d39e14 0 0) left,
    linear-gradient(#d39e14 0 0) bottom,
    linear-gradient(#d39e14 0 0) right;
  background-size:200% 2px,2px 200%; 
  background-origin:padding-box;
  background-repeat:no-repeat;
}


.right1 {
	transform: rotateY(-270deg) translateX(50px);
	transform-origin: top right;
  color: white;
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.left1 {
	transform: rotateY(270deg) translateX(-50px);
	transform-origin: center left;
  color: white;
  background-color: #7c331d6e;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.top1 {
	transform: rotateX(-90deg) translateY(-50px);
	transform-origin: top center;
  color: white;
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;
}
.bottom1 {
	transform: rotateX(90deg) translateY(50px);
	transform-origin: bottom center;
  color: white;
  background-color: #110c0ccc;
  border-radius: 10px;
  border-color: #000;
  font-size: 30px;
  float: right;

}
.front1 {
	transform: translateZ(50px);
  color: rgb(34, 29, 48);
  background-color: #0000004f;
  border-radius: 10px;
  border-color: #11022b;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: right;
}
.back1 {
	transform: translateZ(-50px) rotateY(180deg);
  color: rgb(194, 203, 244);
  background-color: #0000007d;
  border-radius: 10px;
  border-color: #000;
  font-size: 27px;
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube1 {
	animation: spin 10s infinite linear;
}





  




