<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<body>
  <div class="container">
    <div class="card-body">
      <h2 class="card-title text-center">My Storyboards</h2>

      
      <div class="wrap">

        <div class="cube">

          <div class="front text-center" style="background-color:#053b3893;"><img
            src='https://tse4.mm.bing.net/th?id=OIP.cIPcKIn-6c4uVnRCTyUdMQAAAA&pid=Api'
            style="height: 100%; width: 100%; opacity: 0.4"></div>

          <div class="back text-center" style="background-color:#053b3893;"><img
            src='https://tse4.mm.bing.net/th?id=OIP.cIPcKIn-6c4uVnRCTyUdMQAAAA&pid=Api'
            style="height: 100%; width: 100%; opacity: 0.4"></div>

          <div class="top" style="background-color:#053b3893; "></div>

          <div class="bottom" style="background-color:#053b3893;"></div>

          <div class="left" style="background-color:#053b3893;"><img
              src='https://tse4.mm.bing.net/th?id=OIP.cIPcKIn-6c4uVnRCTyUdMQAAAA&pid=Api'
              style="height: 100%; width: 100%; opacity: 0.4"></div>

          <div class="right" style="background-color:#053b3893;"><img
              src='https://tse4.mm.bing.net/th?id=OIP.cIPcKIn-6c4uVnRCTyUdMQAAAA&pid=Api'
              style="height: 100%; width: 100%; opacity: 0.4"></div>
        </div>
      </div>

      <div class="wrap1">

        <div class="cube1">

          <div class="front1 text-center" style="background-color:#af651093;"><img
            src='https://tse1.mm.bing.net/th?id=OIP.fxy8yXj8UxPM78CYQuEExAHaFm&pid=Api'
            style="height: 100%; width: 100%; opacity: 0.4"></div>

          <div class="back1 text-center" style="background-color:#af651093;"><img
            src='https://tse1.mm.bing.net/th?id=OIP.fxy8yXj8UxPM78CYQuEExAHaFm&pid=Api'
            style="height: 100%; width: 100%; opacity: 0.4"></div>

          <div class="top1" style="background-color:#af651093; "></div>

          <div class="bottom1" style="background-color:#af651093;"></div>

          <div class="left1" style="background-color:#af651093;"><img
              src='https://tse1.mm.bing.net/th?id=OIP.fxy8yXj8UxPM78CYQuEExAHaFm&pid=Api'
              style="height: 100%; width: 100%; opacity: 0.4"></div>

          <div class="right1" style="background-color:#af651093;"><img
              src='https://tse1.mm.bing.net/th?id=OIP.fxy8yXj8UxPM78CYQuEExAHaFm&pid=Api'
              style="height: 100%; width: 100%; opacity: 0.4"></div>
        </div>
      </div>
      
      <div class="wrapper">
        <div class="table">
          <div class="row header">
            <div class="tcell">Title</div>
            <div class="scell">Summary</div>
          </div>

          <div class="row" *ngFor="let storyboard of storyboards">
            <div (click)="redirect(storyboard)" class="btn" data-title="Title">
              "{{ storyboard.title }}"
            </div>
            <div class="cell" data-title="Description">
              "{{ storyboard.description }}"
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
