<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<body>
  <div class="container">
    <div class="card-body">
      <h2 class="card-title text-center">My Storyboards</h2>

      <div class="wrapper">
        <div class="table">
          <div class="row header">
            <div class="tcell">Title</div>
            <div class="scell">Summary</div>
          </div>

          <div class="row" *ngFor="let storyboard of storyboards">
            <div (click)="redirect(storyboard)" class="btn" data-title="Title">
              "{{ storyboard.title }}"
            </div>
            <div class="cell" data-title="Description">
              "{{ storyboard.description }}"
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
