<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">My Story Boards</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <div class="card my-5">
                  <div class="card-body">
                    <table class="table table-bordered table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let storyboard of storyboards">
                          <a (click)= "redirect(storyboard)" class="btn btn-info">{{ storyboard.title }}</a>
                          <td>{{ storyboard.description }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
